
/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Courgette|Caveat|Roboto+Slab|Caveat+Brush|Dancing+Script&display=swap');

/* Font Style */
.font-script {
  /* font-family: 'Courgette', cursive; */
	/* font-family: 'Caveat', cursive; */
	font-family: 'Dancing Script', cursive;
	/* font-family: 'Caveat Brush', cursive; */
}


/* Basic Style */
html {
}
body {
  background-color: #f7f6f2;
  color: #444;
  letter-spacing: 0.03em;
}
::selection {
  background: #ebec60;
}
a {
  box-shadow: none;
  color: #444;
  text-decoration: none;
  transition: .3s;
}
a img {
  transition: .3s;
},
a img:hover {
  opacity: 0.6
}
.hover {
  color: #6bb1a5;
  cursor: pointer;
  transition: .3s;
}
.hover:hover {
  opacity: 0.6;
}
main h1 {
  color: #444;
  marginTop: 0.5em;
  fontSize: 3rem;
}
main h2 {
  color: #444;
}
main h3 {
  color: #444;
}
iframe {
  width: 100%;
}



/* Modules */
.text-center {
  text-align: center;
}

@media only screen and (min-width: 751px) {
}
@media only screen and (max-width: 750px) {
}





